ion-header {
    ion-toolbar {
        ion-title {
            padding: 0;
        }
    }
}

ion-content {
    div {
        padding: 8px 32px;
        display: flex;
        justify-content: space-between;
        ion-label {
            font-weight: 700;
            width: 50vw;
        }
        span {
            width: 50vw;
            text-align: right;
        }
    }
    div:first-child {
        padding-top: 32px;
    }

    ion-button {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        margin: 32px;
    }
}